/* Navbar styles */
.notion-navbar {
	background: rgba(255,255,255) !important;
	backdrop-filter: blur(20px) !important;
	height: 50px !important;
}

/* Hide certain elements */
.notion-breadcrumb__divider,
.notion-breadcrumb__item,
.notion-navbar__icon,
.notion-navbar>a.has-icon div:first-child {
    display: none !important;
}

/* Always show the page title */
.notion-navbar a[href="/"] {
    display: flex !important;
}
